@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2|Caveat|Indie+Flower|Muli|Satisfy&display=swap');

:root {
    --main-color: rgb(2, 53, 2);
    --secondary-color: white;
    font-family: 'Indie Flower', cursive;
    font-family: 'Baloo Thambi 2', cursive;
    font-family: 'Muli', sans-serif;
    font-family: 'Satisfy', cursive;
    font-family: 'Caveat', cursive;
    scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto;
    background-color: white;
    width: 100%;
}

header h1 {
    font-family: 'Indie Flower', cursive;
    font-family: 'Baloo Thambi 2', cursive;
    font-family: 'Muli', sans-serif;
    font-family: 'Satisfy', cursive;
    font-family: 'Caveat', cursive;
    font-size: 3.5rem;
    text-align: right;
    color: var(--main-color);
}

h1, p {
    margin: 0;
    padding: 0;
}

#logo {
    display: flex;  
    align-items: center;
}

#logoimg {
    width: 150px;
}

header nav .topmenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}

header nav .topmenu a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}

header nav .topmenu .search {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}

header nav .topmenu a:hover {
    border: 1px solid var(--main-color);
}

@media (min-width: 550px) {
    header nav {
        display: flex;
    }
}

header .title {
    background-image: url(../img/top.png);
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    overflow: hidden;
}

header .title {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    font-size: 3rem;
    color: lightcoral;
}
header .logo {
    align-items: center; 
    display: flex
}
header .icons {
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: row-reverse;

}

.icon {
    display: flex;
    /* justify-content: space-around;
    align-items: center;
    flex-direction: row; */
    width: 50px;
    padding: 3px;
    margin: 3px;
    /* list-style-type: none; */
    /* flex-wrap: hy; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    display: inline;
}
footer {
    max-width: 980px;
    margin: auto;
    background-color:  rgb(178, 243, 178);
    font-size: 24px;
    width: 100%;
}

#text {
    font-size: 30px;
}

table, th, td {
    border: 1px solid black;
}

td {
    width: 700px;
}

#button, button {
    
    color: rgb(2, 53, 2);
    background-color: rgb(178, 243, 178);
    border-color: rgb(2, 53, 2);
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    padding: .375rem, .75rem;
}

.column {
    flex: 50%;
}

.row {
    display: flex;
    /* /* justify-content: space-around;
    align-items: center; */
    /* flex-wrap: wrap; */
}

.item {
    padding: 10px;
    margin: 10px;
}

#summary {
    font-size: 28px;
    display:block;
    width:x;
    height:y;
    text-align:right;
}